@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

body{
    font-family: 'Zen Antique Soft', serif !important;
    font-size: 100%;
    background-color: #e8eced94;
    background-image: url(img/todo-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(48 46 46 / 59%);
    background-blend-mode: overlay;
}

.top{
    display:flex;
    justify-content: space-between;
}

.new button{
    margin-top:-4px;
    border-bottom-left-radius: 20px ;
    box-shadow: 2px -3px 14px 5px #afa8a8;
    display: block;
}



.pane-title{
    font-size: 1.8rem;
    font-variant: small-caps;
    color: grey;
    padding-top:10px;
}
.line{
    border: 0.5px inset #b3c0c536;
}

.badge-text{
    font-size: 14px;
}

.todo-container{
    justify-content: start;
    border-bottom:.5px solid #80808030;
    width:95%;
    margin: auto;
    padding-bottom:10px;
    margin: -9px 0;
    background-color: #fff;
    border-radius: 8px;
    opacity: .755555555;
}

.todo-container:hover{
     box-shadow:1px 1px 4px 0px #b5aeae;
     animation: shake 1s ease-in-out;
}

.radio{
   width:15%;
}

.radio input{
    padding: 50px;
    width:100%;
    margin-top:30px;
    display:block;
}

.todo{
    width:85%;
  
}

.todo-title,.todo-body,.todo-detail{
    font-size: 1.2rem;
    text-align: justify;
    padding: 10px;
    padding-bottom: 0;
}

.time input{
    border:none;
}
.todo-body{
    padding-top: 0;
    font-size: 1rem;
}

.todo-detail{
    font-size:.8rem;
    padding:3px 10px
}

.overlay{
    /* border-bottom-left-radius: 15px; */
    padding-top:20px;
    border-radius: 15px;
    padding:10px;
    position: fixed;
    width: 90%;
    /* height: 100%; */
    /* top:0; */
    top:250px;
    /* top: -1000px; */
    /* left:0;
    right:0; */
    /* bottom:0; */
    margin:auto;
    background-color: rgb(85, 85, 85);
    z-index:2;
    background-image: url(img/bg_1.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    /* transform: translateY(-1000px); */
    left: 23px;
}

.task-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/*Dynamic style*/
.hide-item{
    display:none;
}

@keyframes shake {
    0%{transform: translateY(0px);}
    50%{transform: translateY(3px);}
    100%{transform: translateY(0px);}

}

@keyframes scrollToView {
    0%{ transform: translateY(-100px);}
    /* 25%{transform: translateX(50px);}
    50%{transform: translateY(100px);}
    75%{transform: translateY(150px);} */
    100%{transform: translateY(48px);}

}

.scroll{
    animation-name: scrollToView;
    animation-duration: 1s;
    animation-direction: forward;
    animation-timing-function: ease-in;
}





